{{- if not .Values.kafka.clientCredentials.useExistingSecret }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ .Values.kafka.clientCredentials.secretName }}
data:
  client.crt: >-
    {{ required "A valid .Values.kafka.clientCredentials.clientPublicKey entry required!" .Values.kafka.clientCredentials.clientPublicKey | b64enc | quote }}
  client.key: >-
    {{ required "A valid .Values.kafka.clientCredentials.clientPrivateKey entry required!" .Values.kafka.clientCredentials.clientPrivateKey | b64enc | quote }}
  {{- if .Values.kafka.clientCredentials.isToSetCA }}
  root.crt: >-
    {{ required "A valid .Values.kafka.clientCredentials.caCertificate entry required!" .Values.kafka.clientCredentials.caCertificate | b64enc | quote }}
  {{- end }}
type: Opaque
{{- end }}