apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: cmos
    app.kubernetes.io/instance: cmos
  name: cmos
  namespace: cmos
spec:
  replicas: 1 # to be checked
  selector:
    matchLabels:
      app.kubernetes.io/name: cmos
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cmos
        app.kubernetes.io/instance: cmos
        app.kubernetes.io/managed-by: devopscenter.criticalmanufacturing
        devopscenter.criticalmanufacturing/version: "1"
    spec:
      containers:
      - name: cmos
        image: dev.criticalmanufacturing.io/criticalmanufacturing/cmos:1.0.0
        imagePullPolicy: Always
        env:
        - name: CUSTOMER_PORTAL_ADDRESS
          value: "portalqa.criticalmanufacturing.dev"
        - name: CUSTOMER_PORTAL_PORT
          value: "443"
        - name: SECURITY_PORTAL_ADRESS
          value: "securityqa.criticalmanufacturing.dev"
        - name: CLIENT_ID
          value: "Applications"
        - name: TENANT_NAME
          value: "CustomerPortalQA"
        - name: REGISTRY_ADDRESS
          value: "dev.criticalmanufacturing.io"
        - name: CONNECTION_CHECK_TIMEOUT
          value: "30000"
        ports:
        - containerPort: 8081 
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: "/opt/app-root/src/data"
          name: cmos-volume
        - name: pipe-volume
          mountPath: /opt/app-root/src/pipe
      volumes:
       - name: cmos-volume
         persistentVolumeClaim:
          claimName: cmos-pvc
       - name: pipe-volume
         hostPath:
          path: /var/run            # Path on the host node containing the named pipe 
      restartPolicy: Always
      