<!-- differentPage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Different Page</title>
</head>
<body>
    <h1 id="namespaceHeader">Namespace</h1>

    <script>
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            console.log(urlParams);
            return urlParams.get(name);
        }
        const namespace = getQueryParam('namespace');

        const namespaceHeader = document.getElementById('namespaceHeader');
        namespaceHeader.textContent = `Namespace: ${namespace}`;
    </script>
</body>
</html>