<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CMOS</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="logo-container">
      <img src="cmLogo.png" alt="CM Logo">
      <img src="asmptLogo.png" alt="ASMPT Logo">
    </div>
    <div class="lightbox">
      <h1 class="title-center">CMOS</h1>
      <div id="ButtonsDiv">
        <div id="content"></div>
        <div id="enrollButtonDiv"></div>
        <button class="cmf-btn" id="ManageSslCertBtn">Manage SSL Certificate</button>
        <button class="cmf-btn" id="ProxyConfigBtn">Proxy Configuration</button>
        <button class="cmf-btn" id="ExpandDiskBtn">Expand Disk</button>
        <p id="ExpandDiskLabel"></p>
      </div>
      <div id="ConnectivityDiv">
        <p id="customerPortalConnectivity">Checking Connectivity...</p>
        <p id="registryConnectivity"></p>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="client.js"></script>
</html>